<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

	<div th:fragment="urlLogList">

		<div class="table-responsive">
			<table class="table table-striped" id="tblFileLog">
				<thead>
					<tr>
						<th>Arquivos armazenados:</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="entry : ${listOfEntries}">
						<td><span th:text="${listaLogs.nome}"></span></td>
						<td><span th:text="${listaLogs.acao}"></span></td>
						<td><span th:text="${listaLogs.autor}"></span></td>
						<td><span th:text="${listaLogs.dataHora}"></span></td>

					</tr>
				</tbody>
			</table>
		</div>
		

	</div>

</body>
</html>